.pc-content.markdown-view {
	h1 {
		margin: 0 0 30px;
		font-size: 34px;
		cursor: default;
		a {
			display: none;
		}
	}

	h2 {
		margin: 52px 0 20px;
		font-size: 26px;
	}
	h3 {
		margin-bottom: 16px;
		font-weight: 600;
		font-size: 20px;
	}
	h4 {
		margin-bottom: 14px;
		font-weight: 600;
		font-size: 18px;
	}
	h5 {
		margin-bottom: 12px;
		font-weight: 600;
		font-size: 16px;
	}
	h6 {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 14px;
	}
	p {
		margin-bottom: 16px;
	}

	table,
	ul,
	ol,
	pre {
		background-color: #ffffff;
		border-radius: 10px;
		padding: 28px;
		margin-bottom: 28px;
		code {
			padding: 10px;
			border-radius: 5px;
		}
	}
	table {
		thead {
			tr {
				th {
					padding: 10px;
					border-bottom: 1px solid #ddd;
					text-align: left;
					line-height: 30px;
				}
			}
		}
		tbody {
			tr {
				td {
					border-bottom: 1px solid #ddd;
					padding: 5px 10px;
					text-align: left;
					line-height: 30px;
				}
			}
		}
	}
	ol,
	ul {
		padding-left: 40px;
		li {
			line-height: 30px;
		}
	}
}
