* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
// #ifdef H5
html,
body {
	user-select: auto;
}
body {
	font-size: 16px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 10px;
	border-radius: 4px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	// background-color: #dddee0;
	background-color: transparent;
	border-radius: 4px;
	height: 10px;
	opacity: 0;
}
// #endif
/*
  demo页通用样式 
*/

.page {
	height: 100vh;
	overflow: hidden;
	width: 100vw;
	// #ifdef APP
	padding-top: 20px;
	// #endif

	display: flex;
	flex-direction: column;
	// #ifdef H5
	::-webkit-scrollbar {
		display: none;
		width: 0 !important;
		height: 0 !important;
		-webkit-appearance: none;
		background: transparent;
		color: transparent;
	}
	// #endif
	& > .content {
		padding: 0 40rpx;
		flex: 1;
		overflow-y: auto;

		padding-bottom: 56rpx;

		.description {
			.cmp-name {
				font-size: 48rpx;
				font-weight: bold;
				padding-top: 48rpx;
				color: #000000;
			}
			.cmp-desc {
				color: #0009;
				margin-top: 8rpx;
				margin-bottom: 32rpx;
			}
		}

		.type-block {
			font-size: 36rpx;
			font-weight: bold;
			margin: 16rpx 0;
			color: #000000;
		}

		.demo-item {
			margin-bottom: 16px;

			.title {
				font-size: 26rpx;
				color: #0009;
				margin-bottom: 16rpx;
			}

			.item-block {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
			}
		}
	}
}

/**
 * 贡献者模块样式
 */

.con-box {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	row-gap: 25px;
	margin-bottom: 40px;
}
.con-item {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.con-image {
	width: 90px !important;
	height: 90px !important;
	border-radius: 50%;
}
.con-box .name {
	color: #1989fa !important;
	text-align: center;
}
// #ifdef H5
.con-box a:link,
.con-box a:visited,
.con-box a:hover,
.con-box a:active {
	text-decoration: none !important;
	color: #1989fa !important;
}

h2,
h3,
h4 {
	position: relative;
}

.header-anchor {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	text-decoration: none;
	color: var(--pc-main-color);
	padding-right: 8px;
	transform: translateX(-100%);
}

h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor {
	opacity: 1;
}

html {
	scroll-behavior: smooth;
}
// #endif
