:root,
:host {
	// sizes
	--pc-nav-width: 220px;
	--pc-view-width: 375px;
	--pc-view-height: 667px;
	--pc-padding: 32px;
}

@media (max-width: 1920px) {
	:root,
	:host {
		// sizes
		--pc-nav-width: 220px;
		--pc-view-width: 375px;
		--pc-view-height: 667px;
		--pc-padding: 32px;
	}
}

@media (max-width: 1440px) {
	:root,
	:host {
		// sizes
		--pc-nav-width: 220px;
		--pc-view-width: 300px;
		--pc-view-height: 667px;
		--pc-padding: 32px;
	}
}

@media (max-width: 1280px) {
	:root,
	:host {
		// sizes
		--pc-nav-width: 220px;
		--pc-view-width: 262px;
		--pc-view-height: 568px;
		--pc-padding: 32px;
	}
}
